%h1= "Your chat with #{@partner.name}"
- if @partner.goals.empty?
  %h2= "#{@partner.name} hasn't set any goals yet! Why not ask what's up?"
- else
  %h2= "#{@partner.name} is working on #{@partner.goals.sample.title}! Why not ask how it's going?"
= render partial: "messages", locals: {partner: @partner, messages: @messages}
#send
  .form
    = form_for(@message, remote: true) do |f|
      .fields
        =f.hidden_field  :to_id, value: @partner.id
        =f.hidden_field :from_id, value: current_user.id
        =f.text_area :body
      .submit_button
        =f.submit "Send"
