.discussion
  .column1
    = link_to "<i class='icon-thumbs-up'></i>".html_safe, discussion_votes_path(:discussion_id => discussion.id, :value => 1), method: 'post', remote: true, :class => 'vote'
    %h3.vote-count= "#{discussion.vote_tally}"
    = link_to "<i class='icon-thumbs-down'></i>".html_safe, discussion_votes_path(:discussion_id => discussion.id, :value => -1), method: 'post', remote: true, :class => 'vote'
  .column2
    .title= link_to discussion.title, stone_discussion_path(@stone,discussion), remote: true, class: "show_discussion"
    %p= discussion.content
    .comments
      - Comment.where("commentable_id=?", discussion.id)[0..2].each do |comment|
        .comment
          %p.content= comment.content
          %p.user= User.where("id=?", comment.user_id).first.name
