.discussion
	%h6= link_to discussion.title, stone_discussion_path(@stone,discussion), remote: true, class: "show_discussion"
	%a.resource-upvote{id: "#{discussion.id}"} Upvote
	%a.resource-downvote{id: "#{discussion.id}"} Downvote
	%p.vote-count= "#{discussion.votes.size} Votes"
	%p= discussion.content
