#discussion
  %h2 Discussion Forum
  %h3= stone.title
  - if user_signed_in?
    .form
      = simple_form_for [@stone, @discussion], remote: true, html: { class: "create_discussion form-vertical" } do |f|
        = f.input :title
        = f.hidden_field :stone_id, value: params[:stone_id]
        = f.hidden_field :user_id, value: user.id
        = f.input :content
        .submit_button
          = f.submit "Create Discussion", class: "btn btn-primary"
  .discussions
    = render stone.discussions
