#discussion
  %h2= "<i class='icon-comment'></i> #{@discussion.title}".html_safe
  %p= @discussion.content
  .comments
    - if user_signed_in?
      .form
        = form_for [@discussion, @comment], remote: true, html: { class: "create_comment form-vertical" } do |f|
          .fields
            = f.text_field :content, required: true
          .submit_button
            = f.submit "Add Comment", class: "btn btn-primary"
    = render @discussion.comments
