#discussion
  %h2= @discussion.title
  %h3= @discussion.content
  .comments
    - if user_signed_in?
      .form
        = simple_form_for [@discussion, @comment], remote: true, html: { class: "create_comment" } do |f|
          = f.label :content
          = f.input_field :content, cols: 60, rows: 5
          .submit_button
            = f.submit "Add Comment", class: "btn btn-primary"
    = render @discussion.comments
