.comment
  %p= comment.content
  %a.comment-upvote{id: "#{comment.id}"} Upvote
  %a.comment-downvote{id: "#{comment.id}"} Downvote
  %p.vote-count= "#{comment.votes.size} Votes"
  .comments
    = render comment.comments
