#stone{data: {user_id: "#{current_user_id}", stone_id: stone.id}}
  %h2= stone.title
  %h3= stone.description
  - if goal.nil?
    = link_to "Add To Your Goals", "#", class: ".btn.btn-primary" , id: "add_goal"
  - else
    .resources.sortable
      = render partial: 'saved_resources/resources_stone', collection: goal.queued_items, as: :saved_resource
