.resource{ class: "#{resources_stone.resource.difficulty} All" }
  %li
    %h4= resources_stone.resource.title
    %a.upvote{id: "#{resources_stone.id}"} Upvote
    %p= "#{resources_stone.votes} Votes"
    %p= resources_stone.resource.description
    %p= resources_stone.resource.recommended_time
    %p= resources_stone.resource.difficulty

