#stone{data: {user_id: "#{current_user_id}", stone_id: @stone.id}}
  %h1= @stone.title
  %h2= @stone.description
  - if @can_be_added
    %button#add_goal
  = simple_form_for @resource, remote: true, html: {class: "create_resource"} do |f|
    = f.label :title
    = f.input_field :title
    = f.label :description
    = f.input_field :description, cols: 10, rows: 5
    = f.label :url
    = f.input_field :url
    .submit_button
    = f.submit "Add Resource", class: "btn btn-primary"
  %ul.resources
    = render partial: 'stones/resources_stone', collection: @stone.resources_stones, :as => :resources_stone
  -if @goal
    = render @goal.timelines


