- content_for :right_tabs do
  = link_to "Overview", stone_overview_path(@stone) , remote: true, method: 'get', class: "get_overview"
  = link_to "Resources", stone_resources_path(@stone), remote: true,  class: "get_resources"
  = link_to "Discussions", stone_discussions_path(@stone), remote: true, method: "get", class: "get_discussions"
#stone{data: {user_id: "#{current_user_id}", stone_id: @stone.id}}
  %h2= @stone.title
  %h3= @stone.description
  - if @goal.nil?
    %button#add_goal
  = render partial: 'overview', locals: {stone: @stone}
