.resource{ class: "#{resources_stone.resource.difficulty} All" }
  %li
    %h4= resources_stone.resource.title
    %a.resource-upvote{id: "#{resources_stone.id}"} Upvote
    %a.resource-downvote{id: "#{resources_stone.id}"} Downvote
    %p.vote-count= "#{resources_stone.vote_tally} Votes"
    %p= resources_stone.resource.description
    %p= resources_stone.resource.recommended_time
    %p= resources_stone.resource.difficulty
