#resource
  %h2 Resources
  %h2= @stone.title
  -if user_signed_in?
    = link_to "Add Resource", new_stone_resource_path, remote: true, class: "add_resource_link"
  .btn-group
    = link_to 'All', '#', class: "btn filter"
    = link_to 'Beginner', '#', class: "btn filter"
    = link_to 'Intermediate', '#', class: "btn filter"
    = link_to 'Advanced', '#', class: "btn filter"
    = link_to 'Expert', '#', class: "btn filter"
  .btn-group
    = link_to 'Sort Asc', '#', class: "btn sort", data: { sort: 'ASC' }
    = link_to 'Sort Desc', '#', class: "btn sort", data: { sort: 'DESC' }
  .resources
    = render partial: 'resources/resources_stone', collection: @stone.resources_stones, as: :resources_stone
    #save_bar
      %h1 + Drag Here To Save
