%li.resource{ class: "#{saved_resource.resources_stone.resource.difficulty} All ui-state-default", id:"#{saved_resource.id}", data: { id: "#{saved_resource.id}", save_url: "#{saved_resources_path}" } }
  .text
    %h4= saved_resource.resources_stone.resource.title
    %p.description= saved_resource.resources_stone.resource.description
    .right-text
      %p.time= saved_resource.resources_stone.resource.recommended_time
      %p{ class: "#{saved_resource.resources_stone.resource.difficulty.downcase}" }= saved_resource.resources_stone.resource.difficulty
      %a.icon-facebook-sign.fb-share{href:"https://www.facebook.com/sharer/sharer.php?u=#{saved_resource.resources_stone.resource.url}"}
  %i.icon-reorder
