.nav-head
  .logo
    = link_to "Whetstone", root_path, :class => 'brand'
  - if user_signed_in?
    %img{src: gravatar(current_user, 40)}
#search
  = form_for :search, url: stones_search_path do |f|
    = f.text_field :search_query, placeholder: "I want to learn..."
%ul.user-info
  - if user_signed_in?
    %li
      = current_user.name
    %li
      = current_user.email 
%ul.nav
  - if user_signed_in?
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
  - else
    %li
      = link_to 'Login', new_user_session_path
  - if user_signed_in?
    %li
      = link_to 'Edit account', edit_user_registration_path
    - if current_user.has_role? :admin
      %li
        = link_to 'Admin', users_path
  - else
    %li
      = link_to 'Sign up', new_user_registration_path
%ul.stones-list
  - if current_user && current_user.stones
    - current_user.stones.each do |stone|
      %li
        = stone.title.split(' ')[0].capitalize + "..."

