.left_nav
  .header
    .logo
      = link_to "Whetstone", root_path, :class => 'brand'
    .gravatar
      - if user_signed_in?
        %img{ src: gravatar(current_user, 60) }
  .mini-search
    = form_tag search_stones_path, remote: true do
      = hidden_field_tag :mini_search, "true"
      = text_field_tag :query, nil, placeholder: "&#xf002; Type Something...".html_safe
  %ul.goals
    - if user_signed_in?
      %li= link_to 'Messages', messages_path
      - if current_user.stones
        %h3 Here Are Your Stones
        - current_user.stones.each do |stone|
          = link_to truncate(stone.title, length: 30), stone_path(stone)


