.left_nav
  .logo
    = link_to "Whetstone", root_path, :class => 'brand'
  .gravatar
    - if user_signed_in?
      %img{ src: gravatar(current_user, 40) }
  .mini-search
    = form_for :search, url: stones_search_path do |f|
      = f.text_field :search_query, placeholder: "&#xf002; I want to learn...".html_safe, id: 'nav_search'
  %ul
    - if user_signed_in?
      %li= link_to 'Messages', messages_path
      - if current_user.stones
        %h3 Here Are Your Stones
        - current_user.stones.each do |stone|
          = link_to truncate(stone.title, length: 30), stone_path(stone)


