!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Whetstone"
      %meta{:content => content_for?(:description) ? yield(:description) : "Whetstone", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .sidebar-nav-fixed
      %nav.navbar-bottom
      = render 'layouts/navigation'
    .right-tabs-fixed
      = yield :right_tabs
    #main{ :role => "main", class: "avgrund-contents" }
      .container
        .row
          .span12
            = render 'layouts/messages'
            = yield
        %footer
      / ! end of .container
    / ! end of #main
  .avgrund-cover
